body {
  text-align: center;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin: 0;
  color: white;
  font-size: 20px;
}

h1 {
  font-size: 75px;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  line-height: 60px;
}
h1 span {
  display: block;
  margin: 0;
}

h2 {
  margin-bottom: 5px;
  color: #d20094;
}

h3 {
  font-size: 50px;
}

.container {
  height: 100vh;
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 16px;
  position: relative;
}

.accented {
  color: #00FFFF;
}

.il-ctr {
  display: inline-block;
  font-size: 50px;
}

span {
  font-weight: bold;
}

img {
  width: 180px;
}

.logo {
  text-align: left;
  margin-left: 96px;
  margin-top: 32px;
}
.logo img {
  width: 150px;
}

.star-active path {
  fill: #00FFFF;
}

.inner {
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.inner div {
  margin: 30px 0;
}
.inner input[type=text] {
  width: 90%;
  border: none;
  border-bottom: 1px solid #d20094;
  background: none;
  padding: 10px;
  margin: 25px 0;
  font-size: 20px;
  color: white;
}
.inner input[type=text]:focus {
  outline: none;
}
.inner button {
  border: 0;
  font-size: 20px;
  padding: 14px 28px;
  font-weight: bold;
}
.inner button.info-btn {
  background-color: #00ffff;
}
.inner button.info-btn:hover {
  box-shadow: 0 0 16px 1px #00FFFF;
  cursor: pointer;
}
.inner ul {
  -webkit-padding-start: 30px;
          padding-inline-start: 30px;
}
.inner ul li {
  white-space: nowrap;
}

#stars div {
  margin: 0.5rem;
}

.flt-left {
  text-align: left;
}

.inl {
  display: inline;
}

.checkbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.checkbar div {
  line-height: 2.5rem;
}
.checkbar label {
  font-size: 16px;
}
.checkbar input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  vertical-align: bottom;
  position: relative;
  top: -9px;
  border: 2px solid white;
  border-radius: 0;
  width: 16px;
  height: 16px;
}
.checkbar input[type=checkbox]:checked {
  background: #00FFFF;
}

.answer-btn {
  width: 40%;
  margin: 2%;
  height: 55px;
  font-size: 16px;
  background-color: rgba(11, 17, 59, 0.5019607843);
  border-radius: 500px;
  box-shadow: 0px -1px 2px 1px white;
  color: white;
}
.answer-btn:hover {
  background-color: #d20094;
}

.unselected {
  background-color: rgba(11, 17, 59, 0.5019607843);
}

.selected {
  background-color: #d20094;
}

.bg-clr-btn {
  background-color: #d20094;
}
.bg-clr-btn:active {
  background-color: #900080;
}

.middle-box {
  position: relative;
}

.pie-chart {
  --p:20;
  --b:40px;
  --c:#c2128d;
  --w:320px;
  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  margin: 5px;
  place-content: center;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}

.pie-chart:before,
.pie-chart:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.pie-chart:before {
  inset: 0;
  background: radial-gradient(farthest-side, var(--c) 98%, rgba(0, 0, 0, 0)) top/var(--b) var(--b) no-repeat, conic-gradient(var(--c) calc(var(--p) * 1%), rgb(0, 255, 255) 0);
  -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(99% - var(--b)), #000 calc(100% - var(--b)));
  mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(99% - var(--b)), #000 calc(100% - var(--b)));
  background-size: 0 0, auto;
}

.pie-chart:after {
  inset: calc(50% - var(--b) / 2);
  background: var(--c);
  transform: rotate(calc(var(--p) * 3.6deg)) translateY(calc(50% - var(--w) / 2));
  content: none;
}

.pie-chart:hover {
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
  border-radius: 50%;
}

.resultStatement {
  width: 150px;
  height: 10px;
  font-size: 12px;
  z-index: 0;
  position: absolute;
  top: 17%;
  left: 39%;
  font-size: 14px;
  color: whitesmoke;
}

.checkbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.checkbar div {
  line-height: 2.5rem;
}

.checkbar label {
  font-size: 16px;
}

.checkbar input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: bottom;
  position: relative;
  top: -9px;
  border: 2px solid white;
  border-radius: 0;
  width: 16px;
  height: 16px;
}

.checkbar input[type=checkbox]:checked {
  background: #00FFFF;
}

.rate-us-btn {
  background-color: Transparent;
  border: white solid;
  color: white;
  margin-top: 20px;
  width: 200px;
  height: 60px;
  font-size: 20px;
}

.rate-us-btn:hover {
  box-shadow: 0 0 16px 1px white;
  cursor: pointer;
}

.result {
  color: whitesmoke;
  font-size: 50px;
  padding-bottom: 0px;
}

#correctPercentage, #wrongPercentage {
  color: whitesmoke;
  padding-top: 0;
}


.header h3 {
  margin-top: 0;
}

.questionsWrong, .questionsCorrect {
  font-size: 15px;
  filter: opacity(50%);
}

.middle-box {
  position: relative;
}

.pie-chart {
  --p:20;
  --b:40px;
  --c:#c2128d;
  --w:300px;
  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  margin: 5px;
  place-content: center;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}

.pie-chart:before,
.pie-chart:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.pie-chart:before {
  inset: 0;
  background: radial-gradient(farthest-side, var(--c) 98%, rgba(0, 0, 0, 0)) top/var(--b) var(--b) no-repeat, conic-gradient(var(--c) calc(var(--p) * 1%), rgb(0, 255, 255) 0);
  -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(99% - var(--b)), #000 calc(100% - var(--b)));
  mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(99% - var(--b)), #000 calc(100% - var(--b)));
  background-size: 0 0, auto;
}

.pie-chart:after {
  inset: calc(50% - var(--b) / 2);
  background: var(--c);
  transform: rotate(calc(var(--p) * 3.6deg)) translateY(calc(50% - var(--w) / 2));
  content: none;
}

.pie-chart:hover {
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
  border-radius: 50%;
}

.congrat {
  width: 150px;
  height: 10px;
  font-size: 12px;
  z-index: 0;
  position: absolute;
  top: 25%;
  left: 43%;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.qtn-footer span {
  color: #d20094;
}

.base-timer {
  position: relative;
  height: 150px;
  width: 150px;
  left: 90%;
}

/* Removes SVG styling that would hide the time label */
.base-timer__circle {
  fill: none;
  stroke: none;
}

/* The SVG path that displays the timer's progress */
.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__label {
  position: absolute;
  /* Size should match the parent container */
  width: 150px;
  height: 150px;
  /* Keep the label aligned to the top */
  top: 0;
  /* Create a flexible box that centers content vertically and horizontally */
  display: flex;
  align-items: center;
  justify-content: center;
  /* Sort of an arbitrary number; adjust to your liking */
  font-size: 16px;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__svg {
  /* Flips the svg and makes the animation to move left-to-right */
  transform: scaleX(-1);
}

.base-timer__path-remaining.blue {
  color: #00FFFF;
}

.base-timer__path-remaining.pink {
  color: #d20094;
}/*# sourceMappingURL=style.css.map */